/*

 ______     ______     __  __     __  __     __    __     ______     ______   __  __
/\  == \   /\  __ \   /\ \/ /    /\ \/\ \   /\ "-./  \   /\  __ \   /\  == \ /\ \/\ \
\ \  __<   \ \  __ \  \ \  _"-.  \ \ \_\ \  \ \ \-./\ \  \ \  __ \  \ \  _-/ \ \ \_\ \
 \ \_____\  \ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_\ \ \_\  \ \_\ \_\  \ \_\    \ \_____\
  \/_____/   \/_/\/_/   \/_/\/_/   \/_____/   \/_/  \/_/   \/_/\/_/   \/_/     \/_____/


*/

/**************************************************************************/
/******************************** FUENTES *********************************/
/**************************************************************************/
@font-face {
	font-family: 'Liberation Sans', Helvetica, sans-serif;
	src: url('fonts/lsb.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('fonts/cmuntt.eot');
	src: url('fonts/cmuntt.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmuntt.woff') format('woff'),
		 url('fonts/cmuntt.ttf') format('truetype'),
		 url('fonts/cmuntt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('fonts/cmuntb.eot');
	src: url('fonts/cmuntb.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmuntb.woff') format('woff'),
		 url('fonts/cmuntb.ttf') format('truetype'),
		 url('fonts/cmuntb.svg#cmuntb') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('fonts/cmunit.eot');
	src: url('fonts/cmunit.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmunit.woff') format('woff'),
		 url('fonts/cmunit.ttf') format('truetype'),
		 url('fonts/cmunit.svg#cmunit') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('fonts/cmuntx.eot');
	src: url('fonts/cmuntx.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmuntx.woff') format('woff'),
		 url('fonts/cmuntx.ttf') format('truetype'),
		 url('fonts/cmuntx.svg#cmuntx') format('svg');
	font-weight: bold;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('fonts/cmunvt.eot');
	src: url('fonts/cmunvt.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmunvt.woff') format('woff'),
		 url('fonts/cmunvt.ttf') format('truetype'),
		 url('fonts/cmunvt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('fonts/cmunvi.eot');
	src: url('fonts/cmunvi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmunvi.woff') format('woff'),
		 url('fonts/cmunvi.ttf') format('truetype'),
		 url('fonts/cmunvi.svg#cmunvi') format('svg');
	font-weight: normal;
	font-style: italic;
}

/**************************************************************************/
/******************************* GENERALES ********************************/
/**************************************************************************/
html, body, input, textarea, select, button {background: rgba(35, 36, 31, .95);}/*#23241f*/
html, body, input, textarea, select, button {border-color: #736b5e; color: #ebebe5;}

html {
    font-size: 2.1rem;
    scroll-behavior: smooth;

    background: url("imágenes/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: "Computer Modern Typewriter Variable", Helvetica, sans-serif;
    padding: 1.5em;
    margin: auto;
    max-width: 1280px;
}
/* Para pantallas de menos de 720 */
@media only screen and (max-width: 719px) {
  html {font-size: 1.4rem;}
  div.longtable {margin-left: -1em; margin-right: -1em;}
}

/* Animación de entrada */
@keyframes slideInFromLeft {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to   {opacity: 1;}
}

html {animation: 1.5s ease-out 0.2s 1 fadeIn;}
body {animation: 1s ease-out 0.2s 1 slideInFromLeft;}

/* Links y tablas */
a {color: #fd9621; transition: 0.3s;}
a:hover {color: #e7db74;}
.url>span{font-family: 'Computer Modern Typewriter';}/**/

table {border-color: #545b5e;}

/* Encabezados */
.underline{font-family: "Computer Modern Typewriter";font-size: 1.2rem;}
h3, h4, h5 {font-family: 'Liberation Sans', sans-serif;}
h3 {color: #f92472; font-size: 1.6em;}
h4 {color: #90da2b; font-size: 1.4em;}
h5, h6 {color: #74705d; font-size: 1.1em;}

/* Listas */
.enumerate-enumitem {margin-bottom: 0.4em;}

/* Bloques de código */
.lstlisting { border: solid 1px black; background-color: #4c4d47;}
div.lstlisting{white-space: normal; overflow-wrap: break-word;}
.lstlisting span{font-family: 'Computer Modern Typewriter'; font-size: 0.85em;}

/* Imágenes no estiradas */
img {max-width: 100%; max-height: auto; width: auto; height: auto;}

/* Subsección sin enumerar con "*" */
.likesubsectionHead{font-size: 1.1em; color: #27aeae; margin-top:-1.25em;}

/**************************************************************************/
/****************************** ESPECIFICOS *******************************/
/**************************************************************************/

/* TOC */
.subsectionToc {margin-left:1em;}
.subsubsectionToc {margin-left:2em;}


/* EOF */
