 
/* start css.sty */
.cmr-10x-x-109{}
.ecbx-2488{font-size:218%; font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecrm-1440{font-size:127%;}
.ptmr8c-x-x-120{font-size:109%;}
.ecrm-0700{font-size:63%;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.cmsy-10x-x-109{}
.ecrm-0800{font-size:72%;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.ecbx-1095{ font-weight: bold;}
.eccc1095-{font-size:90%;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecrm-1000{font-size:90%;}
.ectt-1000{font-size:90%; font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ecrm-0900{font-size:81%;}
.ecxc-1095{font-weight: bold; font-variant: small-caps;}
.eccc0900-{font-size:81%;}
.ecrm-0600{font-size:54%;}
.small-caps{font-variant: small-caps; }
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.abstract{margin:1em;}
.rotatebox{display: inline-block;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
span#textcolor1{color:#BABAB4}
span#textcolor2{color:#90DA2B}
span#textcolor3{color:#90DA2B}
span#textcolor4{color:#90DA2B}
span#textcolor5{color:#90DA2B}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
tr#TBL-1-1-{background-color:#282923}
tr#TBL-1-2-{background-color:#282923}
tr#TBL-1-3-{background-color:#282923}
tr#TBL-1-4-{background-color:#282923}
tr#TBL-1-5-{background-color:#282923}
tr#TBL-1-6-{background-color:#282923}
tr#TBL-1-7-{background-color:#282923}
tr#TBL-1-8-{background-color:#282923}
tr#TBL-1-9-{background-color:#282923}
tr#TBL-1-10-{background-color:#282923}
 #TBL-1-9- td{ background-color:#23241F}
 #TBL-1-9-1{ color:#FD9621}
tr#TBL-1-11-{background-color:#282923}
tr#TBL-1-12-{background-color:#282923}
tr#TBL-1-13-{background-color:#282923}
tr#TBL-1-14-{background-color:#282923}
tr#TBL-1-15-{background-color:#282923}
tr#TBL-1-16-{background-color:#282923}
tr#TBL-1-17-{background-color:#282923}
 #TBL-1-16-1{ color:#EBEBE5}
tr#TBL-1-18-{background-color:#282923}
tr#TBL-1-19-{background-color:#282923}
tr#TBL-1-20-{background-color:#282923}
tr#TBL-1-21-{background-color:#282923}
tr#TBL-1-22-{background-color:#282923}
tr#TBL-1-23-{background-color:#282923}
tr#TBL-1-24-{background-color:#282923}
 #TBL-1-23- td{ background-color:#23241F}
 #TBL-1-23-1{ color:#FD9621}
 #TBL-1-23-2{ color:#FD9621}
tr#TBL-1-25-{background-color:#282923}
tr#TBL-1-26-{background-color:#282923}
tr#TBL-1-27-{background-color:#282923}
tr#TBL-1-28-{background-color:#282923}
tr#TBL-1-29-{background-color:#282923}
tr#TBL-1-30-{background-color:#282923}
tr#TBL-1-31-{background-color:#282923}
 #TBL-1-30-1{ color:#90DA2B}
 #TBL-1-30-2{ color:#EBEBE5}
tr#TBL-1-32-{background-color:#282923}
tr#TBL-1-33-{background-color:#282923}
tr#TBL-1-34-{background-color:#282923}
tr#TBL-1-35-{background-color:#282923}
tr#TBL-1-36-{background-color:#282923}
tr#TBL-1-37-{background-color:#282923}
tr#TBL-1-38-{background-color:#282923}
 #TBL-1-37-1{ color:#90DA2B}
 #TBL-1-37-2{ color:#EBEBE5}
tr#TBL-1-39-{background-color:#282923}
tr#TBL-1-40-{background-color:#282923}
tr#TBL-1-41-{background-color:#282923}
tr#TBL-1-42-{background-color:#282923}
tr#TBL-1-43-{background-color:#282923}
tr#TBL-1-44-{background-color:#282923}
tr#TBL-1-45-{background-color:#282923}
 #TBL-1-44-1{ color:#90DA2B}
 #TBL-1-44-2{ color:#EBEBE5}
tr#TBL-1-46-{background-color:#282923}
tr#TBL-1-47-{background-color:#282923}
tr#TBL-1-48-{background-color:#282923}
tr#TBL-1-49-{background-color:#282923}
tr#TBL-1-50-{background-color:#282923}
tr#TBL-1-51-{background-color:#282923}
tr#TBL-1-52-{background-color:#282923}
 #TBL-1-51-1{ color:#90DA2B}
 #TBL-1-51-2{ color:#EBEBE5}
tr#TBL-1-53-{background-color:#282923}
tr#TBL-1-54-{background-color:#282923}
tr#TBL-1-55-{background-color:#282923}
tr#TBL-1-56-{background-color:#282923}
tr#TBL-1-57-{background-color:#282923}
tr#TBL-1-58-{background-color:#282923}
tr#TBL-1-59-{background-color:#282923}
 #TBL-1-58-1{ color:#90DA2B}
 #TBL-1-58-2{ color:#EBEBE5}
tr#TBL-1-60-{background-color:#282923}
tr#TBL-1-61-{background-color:#282923}
tr#TBL-1-62-{background-color:#282923}
tr#TBL-1-63-{background-color:#282923}
tr#TBL-1-64-{background-color:#282923}
tr#TBL-1-65-{background-color:#282923}
tr#TBL-1-66-{background-color:#282923}
 #TBL-1-65-1{ color:#90DA2B}
 #TBL-1-65-2{ color:#EBEBE5}
tr#TBL-1-67-{background-color:#282923}
tr#TBL-1-68-{background-color:#282923}
tr#TBL-1-69-{background-color:#282923}
tr#TBL-1-70-{background-color:#282923}
tr#TBL-1-71-{background-color:#282923}
tr#TBL-1-72-{background-color:#282923}
tr#TBL-1-73-{background-color:#282923}
 #TBL-1-72-1{ color:#90DA2B}
 #TBL-1-72-2{ color:#EBEBE5}
tr#TBL-1-74-{background-color:#282923}
tr#TBL-1-75-{background-color:#282923}
tr#TBL-1-76-{background-color:#282923}
tr#TBL-1-77-{background-color:#282923}
tr#TBL-1-78-{background-color:#282923}
tr#TBL-1-79-{background-color:#282923}
tr#TBL-1-80-{background-color:#282923}
 #TBL-1-79-1{ color:#90DA2B}
 #TBL-1-79-2{ color:#EBEBE5}
tr#TBL-1-81-{background-color:#282923}
tr#TBL-1-82-{background-color:#282923}
tr#TBL-1-83-{background-color:#282923}
tr#TBL-1-84-{background-color:#282923}
tr#TBL-1-85-{background-color:#282923}
tr#TBL-1-86-{background-color:#282923}
tr#TBL-1-87-{background-color:#282923}
tr#TBL-1-88-{background-color:#282923}
tr#TBL-1-89-{background-color:#282923}
tr#TBL-1-90-{background-color:#282923}
tr#TBL-1-91-{background-color:#282923}
tr#TBL-1-92-{background-color:#282923}
span#textcolor6{color:#90DA2B}
span#textcolor7{color:#90DA2B}
span#textcolor8{color:#90DA2B}
span#textcolor9{color:#90DA2B}
span#textcolor10{color:#90DA2B}
span#textcolor11{color:#90DA2B}
span#textcolor12{color:#90DA2B}
span#textcolor13{color:#90DA2B}
span#textcolor14{color:#90DA2B}
span#textcolor15{color:#90DA2B}
span#textcolor16{color:#90DA2B}
span#textcolor17{color:#90DA2B}
span#textcolor18{color:#90DA2B}
span#textcolor19{color:#90DA2B}
span#textcolor20{color:#90DA2B}
span#textcolor21{color:#90DA2B}
span#textcolor22{color:#90DA2B}
span#textcolor23{color:#90DA2B}
span#textcolor24{color:#90DA2B}
span#textcolor25{color:#90DA2B}
span#textcolor26{color:#90DA2B}
span#textcolor27{color:#90DA2B}
span#textcolor28{color:#90DA2B}
/* end css.sty */

